@media (max-width: 872px) {
  .popup__image {
    top: 25%;
    width: 290px;
    height: 245px;
  }

  .popup__left-text {
    font-size: 50px;
  }

  .popup__right {
    padding: 25px 10px 25px;
  }

  .popup__btn {
    padding: 10px;
    font-size: 13px;
  }

  .popup__header-title {
    font-size: 20px;
  }

  .popup__title {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .popup__image {
    width: 251px;
    height: 212px;
  }

  .popup__left-text {
    font-size: 35px;
  }

  .popup__header-title {
    margin-bottom: 10px;
  }

  .popup__header-title {
    font-size: 15px;
  }

  .popup__title {
    font-size: 12px;
  }

  .popup__btn {
    font-size: 10px;
  }
}

@media (max-width: 520px) {
  .popup-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }

  .popup {
    flex-direction: column;
  }

  .popup__left {
    max-width: 100%;
    min-height: 260px;
    border-radius: 20px 20px 0 0;
  }

  .popup__left-text {
    min-height: 185px;
  }

  .popup__image {
    top: 10%;
    background: url('../assets/img/mob-popup-img.png') no-repeat center center / cover;
  }
}